@import "../../_globalColor";

.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}

.card-title {
  color: $titleColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.card-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.5rem;
}

.research-card {
  display: flex;
  flex-direction: column;
  background-color: $lightBackground2;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: center;
}

.research-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  transition: all 0.3s ease;
}

.research-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  transition: all 0.25s ease;
}

.research-detail {
  text-align: center;
}

.research-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}

.research-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}

.research-image {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.research-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.research-card-footer span.research-tag {
  background: $buttonColor;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .research-subtitle {
    font-size: 16px;
    text-align: center;
  }
}

.project-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; // Adjust as needed for spacing
}

.project-image {
  width: 250px; // Fixed width for square shape
  height: 250px; // Fixed height for square shape
  overflow: hidden;
  border-radius: 8px; // Optional: rounded corners for styling
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // Optional: shadow for a polished look
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-image,
.side-image {
  width: 100%; // Make the image fit the container width
  height: 100%; // Make the image fit the container height to maintain square shape
  object-fit: cover; // Ensures the image covers the entire square without distortion
  opacity: 0.9; // Slightly faded for visual distinction
}

.project-image:hover .card-image,
.project-image:hover .side-image {
  opacity: 1;
  transform: scale(1.05); // Slight zoom effect on hover
}

.project-image-left {
  margin-right: 10px; // Space to the right of the left image
}

.project-image-right {
  margin-left: 10px; // Space to the left of the right image
}
